
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_View.cshtml";
}


<section class="homepage" id="home">

    <div class="heading">
        <h1 style="text-align:center">About us </h1>
        <p style="font-size:20px;">
            ShopClues.com is India first online Managed Marketplace that connects buyers and sellers online and offers a trusted and safe online shopping environment.
        </p>
    </div>
    <div class="container">
        <!-- session start here  -->
        <section class="about">
            <!-- adding image related in the about us page  -->
            <div class="aboutimage">

                <img src="~/Content/Images/aboutus.jpg" />
            </div>
            <!-- adding content to the about us page  -->
            <div class="content">
                <p>
                    Our rigorous merchant approval process ensures that our buyers can be assured on all aspects of product purchase,
                    be it authenticity, quality or the price. Our merchants typically are successful retailers who have earned credibility
                    and customer loyalty through years of excellence in building customer experience in the offline environment.
                    So as a buyer you can be confident that you are buying the best from the best. ShopClues brings the best from all India together on one platform.
                    Our merchants enjoy the benefit of our superior technology, large reach, robust fulfillment processes,
                    reliable payment facility and unmatched marketing expertise.
                </p>
                <a href="https://www.shopclues.com/shopclues_about_us.html#:~:text=ShopClues%20brings%20the%20best%20from,facility%20and%20unmatched%20marketing%20expertise." class="readmore">Read more</a>
            </div>
        </section>
        <!-- section ends here  -->
    </div>

</section>

