.about {
    display: flex; /* Use flexbox to arrange items */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    justify-content: center; /* Center items horizontally */
    padding: 15px; /* Adjust padding as needed */
    margin: 4px 7px 2px 4px; /* Adjust margins as needed */
    margin-top: 150px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 10px; /* Adjust margin between cards */
    text-align: center;
    font-family: arial;
    flex: 1 0 300px; /* Flex properties to control item sizing */
}

.price {
    color: grey;
    font-size: 22px;
}

.card a {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card a:hover {
    opacity: 0.7;
}
