@import url('registrationstyle.css');
.centered-form {
    margin: auto;
    width: 60%; /* Adjust width as per your design */
    padding: 30px;
    background-color: #f8f9fa; /* Example background color */
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 5 5 10px rgba(0, 0, 0, 0.1);
}
    .centered-form h2{
        text-align:center;
    }
   
    /* Ensure labels align correctly */
    .control-label {
        text-align: right;
    }

/* Add margin between form groups */
.form-group {
    margin-bottom: 15px;
}
